@serif: 'Palatino', 'Georgia', serif;
@sans: 'Helvetica Neue', 'Arial', 'Helvetica', serif;
@size1: 28px;
@form-input-margin: 130px;
@copy-size: 15px;
@rhythm: 20px;
@content-width: 860px;
@c-link: #417F90;

// Mixins
.border-radius(@radius: 5px) {
    -webkit-background-clip: padding-box;
    -webkit-border-radius: @radius;
    -moz-background-clip: padding-box;
    -moz-border-radius: @radius;
    border-radius: @radius;
    background-clip: padding-box;
}
.box-shadow(@horizontal: 0px, @vertical: 1px, @blur: 2px, @color: #CCC) {
  -webkit-box-shadow: @horizontal @vertical @blur @color;
  -moz-box-shadow: @horizontal @vertical @blur @color;
  box-shadow: @horizontal @vertical @blur @color;
}
.vertical-gradient(@start: #000, @stop: #FFF) {
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
    background: -moz-gradient(center top, @start 0%, @stop 100%);
}
html {
    overflow-y: scroll;
}
html, body {
    background-color: #FFF;
    color: #111;
}
// Basic Layout
.wrap {
    width: @content-width;
    margin: 0 auto;
}
body > header {
    text-align: left;
    height: 80px;
    background: transparent url('red-header.png') top left repeat-x;
    a.logo {
        display: block;
        float: left;
        font-size: @size1;
        font-weight: bold;
        color: #FFF;
        text-shadow: 0px 1px 1px rgba(50, 0, 0, 0.7);
        margin-top: @rhythm;

        &:hover {
            text-decoration: none;
        }
    }
    nav {
        position: relative;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                float: left;
                margin-top: 20px;
                margin-right: 10px;
                line-height: 34px;
                display: block;
                position: relative;
                a {
                    padding: 0px 10px;
                    display: block;
                    font: bold @sans;
                    color: #ccc;
                    text-shadow: 0px -1px 0 rgba(50, 0, 0, 0.7);

                    &:hover {
                        text-decoration: none;
                        background: #B2222C;
                        color: white;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            li.first {
                margin-left: 20px;
            }
            li.last {
                float: right;
            }
        }
        div#login {
            display: block;
            position: absolute;
            right: 0;
            color: #ccc;
            font-size: 0.8em;
        }
    }
}
// Default Typography
body {
    font: normal @copy-size @sans;
    line-height: @rhythm;
}
h1 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}
h2 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 12px;
}
a {
    text-decoration: none;
    color: @c-link;

    &:hover {
        text-decoration: underline;
    }
}
form {
    .field {
        margin-bottom: @rhythm / 2;
        label {
            display: block;
            width: @form-input-margin;
            float: left;
            text-align: right;
            margin-right: 10px;
        }
        input.text, input.password {
            /*margin-left: 6em;*/
            height: 24px;
            border: 1px solid #999;
            width: 100px;
            font-size: 15px;
            padding: 0 5px;
            .border-radius;
        }
        textarea {
            /*margin-left: 6em;*/
            height: 100px - 2px;
            border: 1px solid #999;
            width: 230px;
            font-size: 15px;
            padding: 0 5px;
            .border-radius;
        }
    }
    input[type=submit] {
        margin-left: 160px;
    }
}

// Specific Pages
#home {
    section.about {
        float: left;
        text-align: left;
        width: (@content-width/2)*0.95 - 20px;
        margin-right: (@content-width/2)*0.05;
        margin-left: 20px;
    }
    section.login {
        float: left;
        text-align: left;
        width: (@content-width/2)*0.95 - 20px;
        margin-left: (@content-width/2)*0.05;
        margin-right: 20px;

        a {
            padding: 0px 10px;
            display: inline-block;
            border: 1px solid #555;
            font: bold 14px/28px @sans;
            color: #222;
            text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
            .vertical-gradient(#eee, #bbb);
            .border-radius(5px);
            .box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.25));

            &:hover {
                text-decoration: none;
                border: 1px solid #777;
                .vertical-gradient(#fff, #ccc);
                .border-radius(5px);
            }
        }
    }
}
#job_new {
    section.map {
        display: none;
    }
}
#job, #job_new {
    section.job {
        float: left;
        text-align: left;
        width: (@content-width/2)*0.95 - 20px;
        margin-right: (@content-width/2)*0.05;
        margin-left: @rhythm / 2;
    }
    section.map {
        float: right;
        text-align: left;
        width: (@content-width/2)*0.95 - 20px;
        margin-right: (@content-width/2)*0.05;
        margin-left: @rhythm;
        margin-top: @rhythm;
        #map {
            position: relative;
            .box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.5));
            width: 100%;
            height: 400px;
        }
        #relation_loading_msg {
            position: absolute;
            text-align: center;
            margin: 100px 20px;
            color: grey;
        }
    }
}
