@size1: 28px;
@rhythm: 20px;
@content-width: 940px;
@c-link: #417F90;

// Mixins
.border-radius(@radius: 5px) {
    -webkit-background-clip: padding-box;
    -webkit-border-radius: @radius;
    -moz-background-clip: padding-box;
    -moz-border-radius: @radius;
    border-radius: @radius;
    background-clip: padding-box;
}
.box-shadow(@horizontal: 0px, @vertical: 1px, @blur: 2px, @color: #CCC) {
  -webkit-box-shadow: @horizontal @vertical @blur @color;
  -moz-box-shadow: @horizontal @vertical @blur @color;
  box-shadow: @horizontal @vertical @blur @color;
}
.vertical-gradient(@start: #000, @stop: #FFF) {
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
    background: -moz-gradient(center top, @start 0%, @stop 100%);
}
.opacity(@op:100) {
    filter:alpha(opacity=@op);
    -moz-opacity:@op/100;
    -khtml-opacity:@op/100;
    opacity:@op/100;
}
html {
    overflow-y: scroll;
}
html, body {
    background-color: #FFF;
    color: #111;
    padding-top: 30px;
}
// Basic Layout
.wrap {
    width: @content-width;
    margin: 0 auto;
    position: relative;
}
// Gradients
#gradient {
  .vertical (@startColor: #555, @endColor: #333) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); // Konqueror
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(top, @startColor, @endColor); // The standard
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down
  }
}

#feedback-button {
    position: absolute;
    left: 0;
    top: 200px;
    padding-top: 4px;
    background: #999;
    .border-radius(0 5px 5px 0);
}
.topbar-inner,
.topbar .fill {
  background-color: #650B05;
  #gradient > .vertical(#9B0D0B, #B4242E);
  @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  .box-shadow(@shadow);
}
.topbar div > ul {
  .dropdown-menu {
    background-color: #B4242E;
    li a {
      &:hover {
        #gradient > .vertical(#800000, #9B0D0B);
        color: white;
      }
    }
  }
}
#flash {
    position: absolute;
    top: 80px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    background-color: #9b9;
    padding: 5px;
    border: 1px solid #999;
    .border-radius(5px);
    .box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.5));
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
    display: none;
    z-index: 1000;
}
// Default Typography
a {
    color: @c-link;
}
#home {
    .job {
        padding: 0 5px;
        border-bottom: 1px solid #DFDFDF;
    }
    .archived {
        background: url(../img/closed_back.gif) transparent;

    }
}
#job_new {
    #map {
        /*display: none;*/
    }
    #zoom_level_info {
        display: none;
    }
    .flat {
        margin-bottom: 1em;
        label {
            float: none;
        }
        textarea {
            clear: both;
            display: block;
        }
        .span8 + div {
            margin-top: 1.5em;
        }
    }
}

// Specific Pages
#job, #job_new, #task {
    #map {
        position: relative;
        .box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.5));
        width: 100%;
        height: 400px;
    }
    #relation_loading_msg {
        display: none;
    }
    #stats > ul.legend {
        margin-top: 5px;
        list-style: none;

        li {
            float: left;
            margin-right: 5px;
            font-size: 0.8em;

            div {
                width: @rhythm / 2;
                height: @rhythm / 2;
                display: inline-block;
                .opacity(50);
                border: 1px solid rgba(0, 0, 0, 0.5);
                background-color: #aaa;
                margin-right: 5px;
            }
            div.checkin1 {
                background-color: red;
            }
            div.checkin2 {
                background-color: green;
            }
            div.checkout {
                border-color: orange;
                background-color: transparent;
            }
        }
    }
    .well {
        padding: 10px;
    }
    ul.contributors {
        margin: 0;

        li.online, 
        li.offline {
            list-style-type: none;
            padding-left: 20px;
        }
        li.online {
            background: url(../img/status.png) no-repeat 0 0.10em;
        }
        li.offline {
            background: url(../img/status-offline.png) no-repeat 0 0.10em;
        }
    }
}

#job, #users {
    .hidden-link {
        display: none;
    }
    li:hover {
        .hidden-link {
            display: inline;
        }
    }
}

.footer {
  background-color: #eee;
  min-width: 940px;
  padding: 30px 0;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);

  p {
      color: #555;
  }
}

.olControlZoomPanel {
    top: 14px;
    .opacity(50);

    &:hover {
        .opacity(100);
    }

    div {
        background-image: url(../img/zoom-panel.png);
    }
}
.olControlAttribution {
    bottom: 3px;
}

