[submodule "OSMTM/static/js/openlayers"]
	path = OSMTM/static/js/openlayers
	url = git://github.com/openlayers/openlayers.git
[submodule "OSMTM/static/bootstrap"]
	path = OSMTM/static/bootstrap
	url = git://github.com/twbs/bootstrap.git
[submodule "OSMTM/static/js/lib/openlayers"]
	path = OSMTM/static/js/lib/openlayers
	url = git://github.com/openlayers/openlayers.git
